body {
    background-color: #e4e4e4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.img-fluid {
    width: auto;
    height: auto;
    max-width: 360px;
    max-height: 360px;
}

.login-container, .register-container {
    background-color: #ffffff;
    margin-top: 1rem;
    padding: 16px;
}
