apiVersion: apps/v1
kind: Deployment
metadata:
  name: adminer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adminer
  template:
    metadata:
      labels:
        app: adminer
    spec:
      containers:
        - name: adminer
          image: {{ .Values.adminer.image | default "adminer" }}
          ports:
            - containerPort: {{ .Values.adminer.port | default 8080 }}
---
apiVersion: v1
kind: Service
metadata:
  name: adminer
spec:
  type: NodePort
  selector:
    app: adminer
  ports:
    - port: {{ .Values.adminer.port | default 8080 }}
      targetPort: {{ .Values.adminer.port | default 8080 }}
      nodePort: {{ .Values.adminer.nodePort | default 30081 }}
