apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: {{ .Values.auth.image }}
          imagePullPolicy: Never
          ports:
            - containerPort: {{ .Values.auth.port }}
          env:
            - name: DB_API_URL
              value: {{ .Values.auth.dbApiUrl | quote }}

---
apiVersion: v1
kind: Service
metadata:
  name: auth
spec:
  type: NodePort
  selector:
    app: auth
  ports:
    - name: http
      port: {{ .Values.auth.port }}
      targetPort: {{ .Values.auth.port }}
      nodePort: {{ .Values.auth.nodePort }}
