apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: {{ .Values.frontend.image | default "frontend" }}
          imagePullPolicy: Never
          ports:
            - containerPort: {{ .Values.frontend.port | default 80 }}
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: {{ .Values.frontend.port | default 80 }}
      targetPort: {{ .Values.frontend.port | default 80 }}
      nodePort: {{ .Values.frontend.nodePort | default 30080 }}
