apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portainer
  template:
    metadata:
      labels:
        app: portainer
    spec:
      containers:
        - name: portainer
          image: {{ .Values.portainer.image | default "portainer/portainer-ce" }}
          ports:
            - containerPort: {{ .Values.portainer.port | default 9000 }}
---
apiVersion: v1
kind: Service
metadata:
  name: portainer
spec:
  type: NodePort
  selector:
    app: portainer
  ports:
    - port: {{ .Values.portainer.port | default 9000 }}
      targetPort: {{ .Values.portainer.port | default 9000 }}
      nodePort: {{ .Values.portainer.nodePort | default 30082 }}
