_format_version: "3.0"

services:
  - name: backend
    url: http://core-engine:5000
    routes:
      - name: backend-service-route
        paths: 
          - /api

  - name: auth
    url: http://guardian:5000
    routes:
      - name: auth-service-route
        paths:
          - /auth

plugins:
  - name: cors
    service: backend
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      headers:
        - Authorization
        - Content-Type
      exposed_headers:
        - Authorization
      credentials: false
      max_age: 3600

  - name: cors
    service: auth
    config:
      origins:
        - "*"
      methods:
        - POST
        - OPTIONS
      headers:
        - Authorization
        - Content-Type
      credentials: false
      max_age: 3600
