services:
  manager:
    image: docker:dind
    container_name: manager
    privileged: true
    ports:
      - "5173:5173" # Port for the web interface
      - "8081:8081" # Port for Mongo Express
      - "8001:8001" # Port for Kong Admin API
      - "8080:80" # Port for Kong Proxy
      - "9000:9000" # Port for Portainer
      - "9090:9090" # Port for Prometheus
    networks:
      - dind-net
    volumes:
      - ./kong:/kong
      - ./secrets:/secrets
      - ./prometheus:/prometheus
    hostname: manager
    command: ["dockerd-entrypoint.sh"]
  
  worker1:
    image: docker:dind
    container_name: worker1
    privileged: true
    networks:
      - dind-net
    hostname: worker1
    command: ["dockerd-entrypoint.sh"]

  worker2:
    image: docker:dind
    container_name: worker2
    privileged: true
    networks:
      - dind-net
    hostname: worker2
    command: ["dockerd-entrypoint.sh"]

networks:
  dind-net:
    driver: bridge
